<a href="https://colab.research.google.com/github/pavan-0507/python/blob/main/ASSIGNMENT08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
Element={"PAVAN","SAI PALLAVI","PALLU","CHINTU",500,1000,2000}
print(Element)

{2000, 500, 'PAVAN', 1000, 'SAI PALLAVI', 'CHINTU', 'PALLU'}

In [5]:

Element={"PAVAN","SAI PALLAVI","PALLU","CHINTU",500,1000,1000,500}
print(Element)

{500, 'PAVAN', 1000, 'SAI PALLAVI', 'CHINTU', 'PALLU'}

In [6]:
bool_values={True,False,1,0}
print(bool_values)
print(len(bool_values))

{False, True}
2

In [7]:

a={"PAVAN","PALLU"}
b={1,2,3,4,5,}
c={True,False}
print(a)
print(b)
print(c)
print(len(a))
print(len(b))
print(len(c))

{'PALLU', 'PAVAN'}
{1, 2, 3, 4, 5}
{False, True}
2
5
2

In [8]:
Element={"PAVAN","SAI PALLAVI","PALLU","CHINTU",500,1000,1000,500}
print(Element)
print(type(Element))

{500, 'PAVAN', 1000, 'SAI PALLAVI', 'CHINTU', 'PALLU'}
<class 'set'>

In [9]:
Element=set(("PAVAN","SAI PALLAVI","PALLU","CHINTU",500,1000,1000,500))
print(Element)
print(type(Element))

{'PAVAN', 1000, 500, 'PALLU', 'SAI PALLAVI', 'CHINTU'}
<class 'set'>

In [10]:
Element=set(("PAVAN","SAI PALLAVI","PALLU","CHINTU",500,1000,1000,500))
for value in Element:
  print(value)

PAVAN
1000
500
PALLU
SAI PALLAVI
CHINTU

In [11]:
Element=set(("PAVAN","SAI PALLAVI","PALLU","CHINTU",500,1000,1000,500))
print("Rakesh" in Element)
print("rajkumar" not in Element)

False
True

In [12]:
Element={"PAVAN","SAI PALLAVI","PALLU","CHINTU"}
print(Element)
Element.add("das")
print(Element)

{'PALLU', 'SAI PALLAVI', 'CHINTU', 'PAVAN'}
{'das', 'PAVAN', 'PALLU', 'SAI PALLAVI', 'CHINTU'}

In [14]:
Element={"PAVAN","SAI PALLAVI","PALLU","CHINTU" }
point={"mango","apple","banana"}
Element.update(point)
print(Element)

{'mango', 'apple', 'PAVAN', 'PALLU', 'SAI PALLAVI', 'CHINTU', 'banana'}

In [16]:
Element={ "PAVAN","SAI PALLAVI","PALLU","CHINTU"}
Element.remove("SAI PALLAVI")
print(Element)

{'PALLU', 'CHINTU', 'PAVAN'}

In [18]:

Element={"PAVAN","SAI PALLAVI","PALLU","CHINTU"}
Element.discard("SAI PALLAVI")
print(Element)

{'PALLU', 'CHINTU', 'PAVAN'}

In [20]:
Element={"PAVAN","SAI PALLAVI","PALLU","CHINTU"}
a=Element.pop()
print(a)
print(Element)

PALLU
{'SAI PALLAVI', 'CHINTU', 'PAVAN'}

In [21]:
Element={"PAVAN","SAI PALLAVI","PALLU","CHINTU"}
Element.clear()
print(Element)

set()

In [22]:
Element={"PAVAN","SAI PALLAVI","PALLU","CHINTU"}
for value in Element:
  print(value)

PALLU
SAI PALLAVI
CHINTU
PAVAN

# ***LIST***

In [23]:
list=['PAVAN','2004']
print(list)
del list[1]
print(list)

['PAVAN', '2004']
['PAVAN']

In [24]:
name=["PAVAN",'SAI PALLAVI','MANJU']
DOB=[2003,2004,2005]
print("name with maximum character",max(name))
print("name with minimum character",min(name))
print("DOB with maximum character",max(DOB))
print("DOB with minimum character",min(DOB))

name with maximum character SAI PALLAVI
name with minimum character MANJU
DOB with maximum character 2005
DOB with minimum character 2003

In [25]:
name=['PAVAN','MANJU']
print("member: ",name)
name.insert(1,"SAI PALLAVI")
print("member: ",name)

member:  ['PAVAN', 'MANJU']
member:  ['PAVAN', 'SAI PALLAVI', 'MANJU']

In [26]:


name=['PAVAN','MANJU',"SAI PALLAVI"]
print("member: ",name)
name.pop()
print("member: ",name)
name.pop(1)
print("member: ",name)

member:  ['PAVAN', 'MANJU', 'SAI PALLAVI']
member:  ['PAVAN', 'MANJU']
member:  ['PAVAN']

In [28]:
name=['PAVAN','MANJU',"SAI PALLAVI"]
print("member: ",name)
name.remove("SAI PALLAVI")
print("member: ",name)

member:  ['PAVAN', 'MANJU', 'SAI PALLAVI']
member:  ['PAVAN', 'MANJU']

In [29]:
name=['PAVAN','MANJU',"SAI  PALLAVI"]
print("member: ",name)
name.reverse()
print("member: ",name)

member:  ['PAVAN', 'MANJU', 'SAI  PALLAVI']
member:  ['SAI  PALLAVI', 'MANJU', 'PAVAN']

In [30]:
name=['PAVAN','MANJU',"SAI PALLAVI"]
print("member: ",name)
name.sort()
print("member: ",name)

member:  ['PAVAN', 'MANJU', 'SAI PALLAVI']
member:  ['MANJU', 'PAVAN', 'SAI PALLAVI']

# ***Tuples***

In [31]:
tuple=("PAVAN","SAI","PALLAVI","PALLU")
print(tuple)
print(tuple[0])
print(tuple[0:2])
print(tuple[0:])
print(tuple[::-1])
print(tuple[2:0:-1])

('PAVAN', 'SAI', 'PALLAVI', 'PALLU')
PAVAN
('PAVAN', 'SAI')
('PAVAN', 'SAI', 'PALLAVI', 'PALLU')
('PALLU', 'PALLAVI', 'SAI', 'PAVAN')
('PALLAVI', 'SAI')

In [32]:
tuple=("PAVAN","SAI","PALLAVI","PALLU")
tg=(200,2004,2002)
print(tuple*2)
print(tuple+tg)
list=["pavan","phanindra","rahul"]
print(list)
list[0]="rajkumar"
print(list)

('PAVAN', 'SAI', 'PALLAVI', 'PALLU', 'PAVAN', 'SAI', 'PALLAVI', 'PALLU')
('PAVAN', 'SAI', 'PALLAVI', 'PALLU', 200, 2004, 2002)
['pavan', 'phanindra', 'rahul']
['rajkumar', 'phanindra', 'rahul']

# ***Dictionary***

In [33]:
dict={}
print(dict)
dict["one"]="my opinon is my own"
print(dict)
dict["2"]="my self"
print(dict)
print(dict.keys())
print(dict.values())

{}
{'one': 'my opinon is my own'}
{'one': 'my opinon is my own', '2': 'my self'}
dict_keys(['one', '2'])
dict_values(['my opinon is my own', 'my self'])

In [34]:
base={"name":"PAVAN","marks":848}
print(base)
print(base["name"])
print(base["marks"])
base["marks"]=900
print(base)
base["name"]="SAI PALLAVI"
print(base)
print(base.keys())
print(base.values())

{'name': 'PAVAN', 'marks': 848}
PAVAN
848
{'name': 'PAVAN', 'marks': 900}
{'name': 'SAI PALLAVI', 'marks': 900}
dict_keys(['name', 'marks'])
dict_values(['SAI PALLAVI', 900])